.text-Primary{
    font-family: 'Bebas Neue', sans-serif;
}

.text-Secondary {
    font-family: 'Oswald', sans-serif;
}

.text-Comun {
    font-family: 'Anton', sans-serif;
}
.content-hamburger{
    
}